.hero.is-primary {
  background-color: #00d1b2;
  color: rgba(255, 255, 255, 0.7);
  padding: 0;
}

.hero.is-primary a:not(.button):not(.dropdown-item):not(.tag).is-active,
    .hero.is-primary a:not(.button):not(.dropdown-item):not(.tag):hover {
  color: white;
}

.hero.is-primary a.navbar-item.is-active, .hero.is-primary a.navbar-item:hover {
  background-color: #00d1b2;
  color: white;
}

footer.footer .github-fork-ribbon-wrapper .github-fork-ribbon {
  background-color: #00d1b2;
}

a, .card-content a h3 {
  color: #00d1b2;
}

.menu-list a.is-active {
  background-color: #fc4a1a;
}

a.navbar-item.is-tab {
  color: #7a7a7a;
}

a.navbar-item.is-tab.is-active, a.navbar-item.is-tab.is-active:hover {
  border-bottom-color: #fc4a1a;
  color: #fc4a1a;
}

footer.footer .github-fork-ribbon-wrapper .github-fork-ribbon:hover a {
  border-color: #f7b733;
  color: #f7b733;
}

article a:hover, footer a:hover, #content a:hover, .menu-list a:hover, .card-content a:hover h3 {
  color: #f7b733;
}

a.navbar-item.is-tab:hover {
  border-bottom-color: #f7b733;
  color: #363636;
}

article code {
  color: #268bd2;
}

article a > code {
  color: #00d1b2;
}

article a:hover > code {
  color: #f7b733;
}

.menu-list a.is-active:hover {
  color: #ffffff;
}

#mc_embed_signup_scroll button.is-success {
  background-color: #00d1b2;
}

#mc_embed_signup_scroll .response.is-success {
    color: #00d1b2;
}
