/* Imports */
@import url("article.css");
@import url("github.css");
@import url("pygment.css");
@import url("reset.css");

/***** Global *****/
/* Body */
body {
  background: #eaeae8;
  color: #444;
  font-size: 87.5%; /* Base font size: 14px */
  font-family: 'Helvetica Neue', Verdana, Arial, sans-serif;
  line-height: 1.429;
  margin: 0;
  padding: 0;
  text-align: left;
}

code { font-family: 'Inconsolata', 'Courier', monospace; }

/* HTML5 tags */
header, hgroup, section, footer, aside, nav, article, figure { display: block; }

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

/* Article */
#content {
  max-width: 800px;
  padding: 0px 50px;
}

/* Extras */
#extras {
  float: right;
  margin: 0px 25px;
  width: 200px;
}

#extras h2 {
  border-color: #444;
  border-top-style: dotted;
  border-width: 1px;
  padding-top: 10px;
  text-transform: capitalize;
}

#extras a {
  color: #444;
  display: inline-block;
  margin: 5px 10px;
  padding: 5px;
  text-decoration: none;
  width: 170px;
}

#extras a:hover {
  background-color: #007200;
  color: #eaeae8;
}

#extras li:last-child { margin-bottom: 10px; }

/* Navigation bar */
#banner {
	background-color: #007200;
  color: #eaeae8;
  margin-bottom: 75px;
}

#banner a {
  color: #eaeae8;
  text-decoration: none;
}

#banner nav {
	background-color: #444;
	display: inline-block;
	width: 100%;
}

#banner a:hover {
  background-color: #eaeae8;
  color: #007200;
}

#banner nav ul {
  list-style: none;
  margin: 0 auto;
}

#banner nav li a {
  display: inline-block;
	float: right;
  font-weight: bold;
	margin: 0;
	padding: 10px;
	text-transform: uppercase;
}

#banner .title a {
  float: left;
  font-size: 1.429em;  /* 20pt */
  line-height: 1em;
  text-transform: lowercase;
}

#banner .active a { background-color: #007200; }

#banner .active a:hover { background-color: #eaeae8; }

#banner .active-title a {
  background-color: #007200;
  float: left;
  font-size: 1.429em;  /* 20pt */
  line-height: 1em;
  text-transform: lowercase;
}

#banner .active-title a:hover { color: #eaeae8; }

#subtitle {
  float: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px;
}

@media only screen and (max-width: 960px) {
	.collapse {
		display: none;
	}
}

/* Page footer */
#contentinfo {
  background-color: #444;
  color: #aeaea8;
  text-align: center;
  width: 100%;
}
